---
// src/layouts/recipe-layout.astro
import TopSearch from '../sections/busqueda-global';
import MenuApp from '../sections/navegacion-app';
import Layout from './main-layout.astro';
import { Image } from 'astro:assets';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>

    {
      frontmatter.image && (
        <Image
          src={frontmatter.image}
          alt={frontmatter.title}
          width={800}
          height={400}
          class='object-cover w-full h-[30dvh]'
        />
      )
    }

  <TopSearch client:load />

  

  <article class='container'>
    <header id='informacion' class='scroll-mt-36 mb-4'>
      <h1 class='text-4xl font-bold mb-4'>{frontmatter.title}</h1>
      <div class='flex flex-wrap gap-4 text-sm text-gray-600'>
        <p>Categoría: {frontmatter.category}</p>
        <p>Tiempo de preparación: {frontmatter.prepTime}</p>
        <p>Tiempo de cocción: {frontmatter.cookTime}</p>
        <p>Porciones: {frontmatter.servings}</p>
      </div>
    </header>

    <nav class='sticky top-20 bg-gray-50 z-10 mb-4'>
      <div class='flex overflow-x-auto whitespace-nowrap scrollbar-hide'>
        <a
          href='#ingredientes'
          class='px-6 py-3 flex-1 text-sm text-center font-medium text-rose-700 hover:text-gray-900 border-b-2 border-transparent hover:border-gray-200 transition-colors'
        >
          Ingredientes
        </a>
        <a
          href='#instrucciones'
          class='px-6 py-3 text-sm flex-1 text-center font-medium text-rose-700 hover:text-gray-900 border-b-2 border-transparent hover:border-gray-200 transition-colors'
        >
          Instrucciones
        </a>
      </div>
    </nav>

    <section id='ingredientes' class='scroll-mt-36 mb-8'>
      <h2 class='text-2xl font-semibold mb-4'>Ingredientes</h2>
      <ul class='list-disc pl-5'>
        {frontmatter.ingredients.map((ingredient) => <li>{ingredient}</li>)}
      </ul>
    </section>

    <section id='instrucciones' class='scroll-mt-36 mb-8'>
      <div class='prose prose-h2:text-2xl max-w-none'>
        <slot />
      </div>
    </section>
  </article>

  <MenuApp client:load />

  <style is:global>
    html {
      scroll-behavior: smooth;
    }
  </style>
</Layout>
